*{
  font-size:14px;
}
body{
    margin: 0 auto;
    font-family: Georgia, Palatino, serif;
    line-height: 2;
}
h3, h4, h5, h6{
    margin:5px 0;
}
pre{
  font-size:12px;
  padding:10px;
  margin:10px 0;
  display:block;
  border-radius:2px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  behavior: url(/PIE.htc);
  background:#eee;
}
.posts-expand .post-body ul li{
  list-style-type: none;
}
.post-body p{
  
}
.busuanzi-count{
  display:block;
}

